PORT=3000
HOST_API='http://127.0.0.1:3000/api'
ENVIRONMENT=''
JWT_SECRET='ModificarElSecrtoJWT'
DATABASE_URI='mongodb://127.0.0.1:27017/proyecto-04-tenis'
DATABASE_PORT='27017'
DATABASE_NAME='proyecto-04-tenis'
DATABASE_USERNAME=''
DATABASE_PASSWORD=''
PAGINATIONS_DEFAULT_LIMIT=10
PASSWORD_SEED_USERS=''
AUDIT=false
MAILER_HOST=''
MAILER_PORT=
MAILER_USER=''
MAILER_PASS=''
